* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: rgb(162, 231, 252);
    
}

.wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;

}

.site-header {
    background-color: #0e0e0e;
    display: flex;
    flex-direction:column;
}

.header-inner {
    
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.site-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-nav {
    background-color: rgb(43, 206, 255);
}

.nav-menu {
    align-items: center;
    padding: 10px;
    list-style-type: none;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    /*justify-content: center;
  align-items: center;*/
}

.nav-menu li a {
    color: white;
    font-size: 0.91rem;
    display: block;
    padding: 10px 15px;
}

.nav-menu li a:hover,
.nav-menu li a.active {

    color: #FF9000;

}

.hero-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 4px rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0E0E0E;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.hero-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    background: rgb(37, 37, 37);
}

.hero-item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 10px;
}

.hero-item p {
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 15px;
}

.hero-content {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.hero-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
}

.button-readmore {
    align-self:self-start;
    border-radius: 8px;
    color: #ffffff;
background-color: #6e6e6e;
padding: 11px 20px 11px 20px;
transition-duration: 0.3s;
border: none;
}

.hero-item-img{
    align-self: center;
    width: auto;
    height: auto;
    padding-bottom: 5%;
}
.hero-item-img img{
    width: 350px;
    padding-bottom: 5%;
    object-fit: contain;
}

.hero-item .button-readmore:hover{
    background-color: #FF9000;
    box-shadow: 1px 1px 5px black;

}


footer{
    color: white;
    text-align: center;
    padding: 15px;
        background-color: #0E0E0E;
    margin-top: auto;}