/* Global CSS Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(26, 125, 212);

}

html {}

/* Container Styles */
.container {
    background-color: aquamarine;
    max-width: 1200px;
    margin: 200px auto 40px;
}
/*Shared Vss*/
code{

    background-color: rgb(185, 185, 185);
    padding: 0px 5px 0px 5px;
    border-radius: 5px;

}

pre{
    background-color: rgb(228, 228, 228);
    border-left: 5px #fa3434 solid;
    border-radius: 7px;
}

.badge{background-color: rgba(104, 87, 255, 0.274);
padding: 0px 7px 0px 7px ;
border-radius: 25px;
color: rgb(89, 0, 255);
font-size: small;
vertical-align: middle;}

.card{
        margin:  10px 10px 35px 10px;
        padding: 25px 25px 25px 25px;
        background-color: rgb(247, 247, 247);
        box-shadow: 0px 2px 10px 0px;
        border-radius: 10px;
        border-top: 7px rgb(250, 40, 138) solid;
        height: fit-content;


    }

.card.module-1{
    border-top: 7px rgb(255, 0, 0) solid;
}
.card.module-2{
    border-top: 7px rgb(255, 127, 0) solid;
}
.card.module-3{
    border-top: 7px rgb(255, 255, 0) solid;
}
.card.module-4{
    border-top: 7px rgb(127, 255, 0) solid;
}
.card.module-5{
    border-top: 7px rgb(127, 255, 0) solid;
}
.card.module-6{
    border-top: 7px rgb(0, 255, 0) solid;
}
.card.module-7{
    border-top: 7px rgb(0, 255, 127) solid;
}
.card.module-8{
    border-top: 7px rgb(0, 255, 255) solid;
}
.card.module-9{
    border-top: 7px rgb(0, 127, 255) solid;
}

.note{}

/*Group1: Header Styles*/

header {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 1px black;

}

.list-menu {
    list-style: none;
    display: flex;
gap: 20px;
margin:  15px 0px 0px 0px;}

.list-menu li {background-color: palevioletred;
            padding: 7px 15px 7px 15px;
        border-radius: 8px;
    box-shadow: 0px 2px 5px 0px black;}

.list-menu li a {
        color: #ffffff;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
} 
.list-menu :hover {
    background-color: rgb(245, 44, 54);
    rotate: 360deg;
    transition-duration: 0.7s;
}

h1 {
    color: blueviolet;
}


/*Group2: */
/*Group3: */
/*Group4: */
/*Group5: */
/*Group6: */
/*Group7: */
/*Group8: */
/*Group9: */
/*Group10: */