/* Global CSS Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(26, 125, 212);

    background-image: url(../images/gachimuchi.gif);

}

html {scroll-behavior: smooth;
scroll-padding-top: 180px;}

/* Container Styles */
.container {
    background-color: aquamarine;
    max-width: 1200px;
    margin: 200px auto 40px;
}
/*Shared Vss*/
code{

    background-color: rgb(185, 185, 185);
    padding: 0px 5px 0px 5px;
    border-radius: 5px;

}

pre{
    background-color: rgb(228, 228, 228);
    border-left: 5px #fa3434 solid;
    border-radius: 7px;
}

.badge{background-color: rgba(104, 87, 255, 0.274);
padding: 0px 7px 0px 7px ;
border-radius: 25px;
color: rgb(89, 0, 255);
font-size: small;
vertical-align: middle;}

.card{
        margin:  10px 10px 35px 10px;
        padding: 25px 25px 25px 25px;
        background-color: rgb(247, 247, 247);
        box-shadow: 0px 2px 10px 0px;
        border-radius: 10px;
        border-top: 7px rgb(250, 40, 138) solid;
        height: fit-content;


    }

.card.module-1{
    border-top: 7px rgb(255, 0, 0) solid;
}
.card.module-2{
    border-top: 7px rgb(255, 127, 0) solid;
}
.card.module-3{
    border-top: 7px rgb(255, 255, 0) solid;
}
.card.module-4{
    border-top: 7px rgb(127, 255, 0) solid;
}
.card.module-5{
    border-top: 7px rgb(127, 255, 0) solid;
}
.card.module-6{
    border-top: 7px rgb(0, 255, 0) solid;
}
.card.module-7{
    border-top: 7px rgb(0, 255, 127) solid;
}
.card.module-8{
    border-top: 7px rgb(0, 255, 255) solid;
}
.card.module-9{
    border-top: 7px rgb(0, 127, 255) solid;
}

.note{}

.img-origin{
    width: 100%;
    height: auto;
}

/*Group1: Header Styles*/

header {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 1px black;

}

.list-menu {
    list-style: none;
    display: flex;
gap: 20px;
margin:  15px 0px 0px 0px;}

.list-menu li {
    margin-top: 15px;
    transition: 0.5s;
            }

.list-menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        background: linear-gradient(135deg, red, purple);
        padding: 13px 15px 13px 15px;
        box-shadow: 0px 4px 7px 1px black;
        border-radius: 7px;
} 
.list-menu :hover {
    background: linear-gradient(135deg, rgb(255, 136, 0), rgb(252, 80, 37));
    transform:translateY(-15px);
    
}


h1 {
    color: blueviolet;
}


/*Group2: */

.img-small{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    
}
.position{
    
    display:flex;
    justify-content: flex-start;
    border: 3px rebeccapurple dashed;
     align-items: center;
     margin-top: 15px;

}
.position.m1{
    justify-content: center;
}
.position.m2{
    justify-content: flex-end;
}

/*Group3: */

.img-fixed {
 width: 350px;
 height: 150px;
 margin-top: 50px;
object-fit: cover;
}

/*Group4: */

.obj-fit-image {
    width: 800px;
    height: 200px;
    border: 1px solid black; 
}


.obj-fit-image.contain { object-fit: contain; }
.obj-fit-image.fill { object-fit: fill; }
.obj-fit-image.cover { object-fit: cover; }

/*Group5: */

.img-youtube img{

    margin: 15px;
    width: 150px;
    transition: 0.5s;
    border-radius: 27px;
}

.img-youtube img:hover{
    scale: 1.1;
    
    box-shadow: 0px 15px 50px 5px black;
    
}

/*Group6: */

.gallery { display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 12px; 
margin-top: 15px;}

.gallery img { object-fit: cover; width: 100%;
    height: auto; }

/*Group7: */
.res-img{ max-width: 100%; height: auto; } 
/*Group8: */
figure{
    text-align: center;
}
/*Group9: */
.bg-image {
    background-image: url("../images/gachimuchi.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}
/*Group10: */
.back-link{
    /*display:inline-block;*/
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    text-align: center;

    background-image: url(../images/rgb-rgb-solid.gif);
    padding: 8px 16px;
    border-radius: 15px;
}